<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Đăng ký</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/auth/signup.css">
</head>

<body>
	<div class="container">
		<div class="card card-container">
			<p id="sign-up-label">ĐĂNG KÝ</p>
			<div class="alert alert-success alert-dismissible custom-alert hide">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong class="alert-message">Đăng ký thành công!</strong>
			</div>
			<div id="error-message">
				<label></label>
			</div>
			<form class="form-signup">
				<input type="text" id="inputYourname" name="yourname" class="form-control" placeholder="Họ và tên" required
					autofocus>
				<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Nhập email" required>
				<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Nhập mật khẩu"
					required> <input type="password" id="inputConfirmPassword" name="password-confirm" class="form-control"
					placeholder="Nhập lại mật khẩu để xác nhận" required>
				<!-- <div id="agree-term" class="agree">
					<label> <input type="checkbox" required> I agree
						with the Terms and Conditions.
					</label>
				</div> -->
				<button id="submit-btn" class="btn btn-lg btn-primary btn-block btn-signup" type="submit">Đăng ký</button>
			</form>
			<!-- /form -->
			<a th:href="@{/signin}" class="sign-in-link"> Tới trang đăng nhập </a>
			<a href="/" class="home-link">Trở về trang chủ</a>
		</div>
		<!-- /card-container -->
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- /container -->
	<script src="js/auth/signup.js"></script>
</body>

</html>