nav a {
	text-decoration: none !important;
	color: white !important;
}

nav {
	/* background-color: #2b3e50ba; */
	font-family: 'Oswald', sans-serif;
	background-color: #5f6d7a;
}

#navbar-id .navbar-toggler-icon {
	font-weight: bold;
	color: white;
}

#navbar-id .page-icon {
	font-size: 30px;
	width: 50px;
	height: 50px;
}

.profile-dropdown {
	background-color: #5f6d7a;
	margin-top: 12px;
}

img.profile-pic {
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
}

.nav-item {
	margin-left: 10px;
}

@media (min-width: 760px) and (max-width: 933px) {
	#navbar-id {
		font-size: 14px;
	}
	.search-input {
		width: 200px;
	}
}

@media (min-width: 934px) and (max-width: 1166px) {
	#navbar-id {
		font-size: 15px;
	}
	.search-input {
		width: 250px;
	}
}

@media (min-width: 1167px) {
	#navbar-id {
		font-size: 20px;
	}
	.search-input {
		min-width: 450px;
	}
}
.hide {
	display: none;
}
.custom-alert {
	margin-top: 23px;
}