#diasease-img-id {
	width: 100%;
	height: 150px;
}

i {
	color: rgb(94, 93, 93);
}

.custom-responsive {
	display: block;
	width: 250px;
	height: 140px;
	border-style: solid;
	border-color: #2a3644;
}

#detail-content-id  {
	background-color: white;
}

#content > .row {
	padding: 20px 35px 20px 35px;
}

#header-info-id .diasease-name {
	font-size: 32px;
}

u {
	font-size: 20px;
}

#reviewModal .modal-header {
	background-color: #039be5;
}

#deleteModal .modal-header {
	background-color: darkgrey;
}
.modal-body .fa-star {
	font-size: 25px;
}

#reviews-id .score-avg {
	font-size: 70px;
}

textarea {
	background-color: #edeeef !important;
}

.modal-body .score-text , .modal-body .star-mark {
	color: #039be5;
}

.hide {
	display: none;
}

.modal-body .five-star-voting i {
	margin-right: 10px;
}

a {
	color: inherit;
}

.liked {
	color: #739bbd;
}

.star-mark {
	color: #ffc107;
}

.point-disable {
	pointer-events: none;
}