/*!
 * Start Bootstrap - Landing Page v5.0.3 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("/img/home/bg-masthead.jpg") no-repeat;
  background-size: 100% 300px;
  padding-top: 76px;
  padding-bottom: 10px;
}

header.masthead h1 {
  font-size: 2rem;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 2.25rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.custom-responsive {
	display: block;
	width: 150px;
	height: 150px;
}

.diagnosis-showcase {
  background-image: url("/img/home/nc1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.searching-showcase {
  background-image: url("/img/home/nc2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.review-showcase {
  background-image: url("/img/home/nc3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.slide-img {
  width: 100%;
  max-height: 600px;
}

.slide-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  /* font-weight: 700; */
  text-transform: uppercase;
}
.slide-content {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  /* font-weight: 200; */
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}

.nc1 {
  background-image: url("/img/home/nc1.jpg");
  position: relative;
}

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  margin-bottom: 50px;
}

.carousel-inner .btn {
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}