.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background-color: #ffffff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    max-width: 150px; 
    max-height: 150px
}

.hide {
    display: none;
}