.hide {
	display: none;
}

#header-container {
	position: relative;
	background: url("../../img/diagnosis/header-diagnosis.jpg") no-repeat center;
	background-size: cover;
	height: 300px;
	padding-top: 8rem;
	padding-bottom: 4rem;
}

#result-container {
	margin-top: 100px !important;
}

#input-diagnosis-container,
#result-container {
	background-color: #CBDECC;
	margin-top: 60px;
}

#seafood-name-gr,
#out-symptom-gr,
#in-symptom-gr,
#env-symptom-gr {
	background-color: #edeeef;
}

.custom-responsive {
	display: block;
	width: 180px;
	height: 100px;
}

hgroup {
	padding-left: 15px;
	border-bottom: 1px solid #ccc;
}

hgroup h1 {
	font: 500 normal 1.625em;
	color: #2a3644;
	margin-top: 0;
	line-height: 1.15;
}

hgroup h2.lead {
	font: normal normal 1.125em;
	color: #2a3644;
	margin: 0;
	padding-bottom: 10px;
}

.box-title {
	position: relative;
	top: -20px;
	box-shadow: 0.25em 0.5em 0.5em;
	background-color: #ADDEAD;
	padding: 10px;
	border-style: double;
	border-color: #2a3644;
}

.input-border {
	border-radius: 15px;
}

.content-shadow {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal-lg {
	max-width: 80% !important;
}

#resultModalTitle {
	margin: 0 auto;
}

.modal-header,
.modal-footer {
	background-color: #cfd4da;
}

.suggested-symptoms {
	border-width: 5px;
	border-color: rgb(38, 87, 133);
}

.suggesting-symptoms {
	animation-name: highlight;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes highlight {
	0% {
		border-width: 3px;
		border-color: rgb(38, 87, 133);
	}

	100% {
		border-width: 3px;
		border-color: white;
	}
}

@media (min-width: 768px) {

	.form-group,
	option {
		font-size: 20px;
	}
}

html {
	scroll-behavior: smooth;
}

.diasease-result {
	background-color: #edeeef;
}

.diasease-result .title {
	font-size: 20px;
}

span.percentage {
	background: #e38686;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 2em;
	margin-right: 5px;
	text-align: center;
	min-width: 2em;
	font-size: 40px;
	padding: 5px;
}

#input-diagnosis-container {
	background-image: url("/img/home/bg-masthead.jpg");
	min-height: 300px;
}

a.achor-suggest {
	position: relative;
	bottom: 170px;
}